* {
  font-family: "Times New Roman", Times, serif;
}

.first {
  border: 2px solid red;
  padding: 5px;
  margin: 5px;
}

.second {
  border: 2px solid blue;
  padding: 5px;
  margin: 5px;
  display: flex;
}

.third {
  border: 2px solid blue;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fourth {
  border: 2px solid blue;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.fifth {
  border: 2px solid blue;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

pre {
  height: 55px;
  white-space: pre-wrap;
  background: hsl(30, 80%, 90%);
}

code {
  font-family: Consolas, "courier new";
  color: crimson;
  background-color: #dfdfdf;
  padding: 4px;
  margin: 5px;
  font-size: 16px;
  white-space: pre-wrap;
}
